{% extends "main\layout.html" %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="main-banner">
    <h1>Добро пожаловать в наш магазин!</h1>
    <p>Лучшие товары по отличным ценам.</p>
</div>
<div class="container mt-5">
    <!-- Раздел с информацией о магазине -->
    <section class="about-section">
        <h2 class="text-center mb-3">О нас</h2>
        <p>Gydra – это ваш надежный партнер в мире моды. Мы стремимся предложить вам лучшие товары по доступным ценам, чтобы каждый мог найти что-то для себя, независимо от возраста, стиля и предпочтений.</p>

        <h3>Почему выбирают Gydra?</h3>
        <ul>
            <li><strong>Широкий ассортимент:</strong> У нас есть все, что нужно для создания идеального гардероба – от повседневной одежды до вечерних нарядов, от мужской до женской линии, а также стильные аксессуары.</li>
            <li><strong>Высокое качество:</strong> Мы сотрудничаем только с теми производителями, которые соблюдают строгие стандарты качества. Это позволяет нам быть уверенными в том, что каждая вещь, которую вы приобретаете у нас, будет служить вам долго и радовать своим внешним видом.</li>
            <li><strong>Доступные цены:</strong> Мы стараемся сделать модную одежду доступной для каждого. Благодаря прямым поставкам от производителей, мы можем предложить вам выгодные цены без ущерба для качества.</li>
            <li><strong>Удобство покупок:</strong> Наши онлайн-каталоги удобно организованы, чтобы вы могли быстро найти нужные товары. Дружественный интерфейс сайта и быстрая доставка сделают процесс покупки приятным и легким.</li>
            <li><strong>Индивидуальный подход:</strong> Мы ценим каждого клиента и готовы помочь вам с выбором. Наша команда всегда на связи, чтобы ответить на ваши вопросы и предложить помощь в оформлении заказа.</li>
        </ul>

        <h3>Что нового в Gydra?</h3>
        <p>Мы постоянно обновляем наш ассортимент, добавляя новые коллекции и уникальные модели. Следите за новостями и акциями на нашем сайте, чтобы не пропустить последние тренды и выгодные предложения.</p>
    </section>
</div>
<div class="products">
    {% for product in products %}
    <div class="product-card">
        <img src="{{ product.image_url }}" alt="{{ product.name }}">
        <h2>{{ product.name }}</h2>
        <p>{{ product.price }} ₽</p>
    </div>
    {% endfor %}
</div>
{% endblock %}